@font-face{
  font-family: Dogica;
  src: url("fonts/dogica.otf");
}
body{
  font-family: "Dogica", "Courier New", monospace;
}
#game{
  border: 5px black solid;
  width: 900px;
  margin: 0px auto;
  padding: 40px 40px 0px;
  position: relative;
}
#header{
  height: 100px;
}
#header h1{
  text-align: center;
  line-height: 100px;
}
canvas{
  border: 2px black solid;
  margin: 0px;
}
#schoolgame{
  display: inline-block;
  width: 124px;
  padding: 5px;
}
#schoolgame p{
  text-align: center;
  line-height: 25px;
}
#workgame{
  display: inline-block;
  width: 124px;
  padding: 5px;
}
#workgame p{
  text-align: center;
  line-height: 25px;
}
#mentalgame{
  display: inline-block;
  width: 124px;
  padding: 5px;
}
#mentalgame p{
  text-align: center;
  line-height: 25px;
}
#bars{
  float: right;
  display: inline;
}
.clear{
  clear: both;
}
#level4{
  width: 300px;
  position: absolute;
  top: 160px;
  left: 60px;
  z-index: 3;
}
#cloud{
  width: 400px;
  position: absolute;
  left: 20px;
  top: 150px;
}
#helpbox{
  width: 700px;
  height: 300px;
  border: 5px black solid;
  padding: 20px;
  display: block;
  z-index: 4;
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  background-color: white;
}
#helpbox h2{
  text-align: center;
}
#okbutton{
  width: 125px;
  position: absolute;
  left: 290px;
  bottom: 20px;
}
#ok{
  font-size: 25px;
  position: absolute;
  left: 327px;
  bottom: 28px;
  user-select: none;
}
